<div class="row cards">
  <ng-template ngFor let-member [ngForOf]="members" let-i="index">
    <div class="col">
      <div class="card shine" [style.background]="memberColors[member.id]">
        <div class="card-header" [style.color]="memberColors[member.id]">
          <h4>{{member.name}}</h4>
        </div>
        <div class="card-block">
          <div class="content">
            <span [innerHtml]="getCardValue(member.cardId)"></span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <nav class="navbar navbar-inverse fixed-top bg-primary navbar-toggleable-md" [hidden]="room.ownerId != memberId">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleForOwners"
      aria-controls="navbarToggleForOwners" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="javascript:void(0);">Online Scrum Poker</a>
    <div class="collapse navbar-collapse" id="navbarToggleForOwners">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
      <button type="button" class="btn btn-secondary" (click)="resetVotes()">Reset Votes</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="revealVotes()">Reveal Votes</button>
    </div>
  </nav>
</div>
<osm-vote [roomName]="roomName" [memberId]="memberId" [memberName]="memberName" [currentCardId]="currentCardId" (refresh)="getMembersOnce()"></osm-vote>