<div class="row cards">
  <ng-template ngFor let-member [ngForOf]="members" let-i="index">
    <div class="col">
      <div class="card shine" [style.background]="memberColors[member.id]" [class.shake]="member.cardId > 0">
        <div class="card-header" [style.color]="memberColors[member.id]">
          <h4>{{member.name}}</h4>
        </div>
        <div class="card-block">
          <div class="content">
            <span [innerHtml]="getCardValue(member.cardId)"></span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <nav class="navbar navbar-inverse fixed-top bg-primary navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleForOwners"
      aria-controls="navbarToggleForOwners" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="javascript:void(0);">Online Scrum Poker</a>
    <div class="collapse navbar-collapse align-items-right" id="navbarToggleForOwners">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav ">
        <li><a class="nav-link" href="javascript:void(0);" (click)="resetVotes()" [hidden]="room.ownerId != memberId">Reset Votes</a></li>
        <li><a class="nav-link" href="javascript:void(0);" (click)="revealVotes()" [hidden]="room.ownerId != memberId" [class.disabled]="!enableRevealButton">Reveal Votes</a></li>
        <li><a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<osm-vote [roomName]="roomName" [memberId]="memberId" [memberName]="memberName" [currentCardId]="currentCardId" (refresh)="getMembersOnce()"></osm-vote>